@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Both part time and full time options available. Students placed by ability, not age. Registered teachers with an average of 20 years experience. Diverse Peers. Flexible Schooling..</p>
</div>

<div class="alert-danger">
    Coaching courses are very popular and allow you to meet other coaches and share ideas. New Zealand Cricket offers a number of coaching courses which can

</div>
<div class="alert-danger">
    Below is the New Zealand Cricket Coaches Pathway, this pathway shows the progression from coaching course to coaching course.

    This pathway shows the progression of coaching courses and the age groups and teams in which you could potentially coach at each level. Please note this has changed from the old pathway which was a vertical pathway. The new pathway is about horizontal learning, as a result a coach may become an expert at a particular level rather than progressing up the ladder.
    </div>
<br/>
<div class="clearfix"/><br/>
<div class="alert-info">

    Good coaches never stop learning. By watching others, by using resources via the internet and by accessing a wide range of opportunities for furthering professional development, the path for improvement is always available. Coaching courses are very popular and allow you to meet other coaches and share ideas.

    New Zealand Cricket offers a number of coaching courses which can get you underway or upskill you on your coaching journey:

</div>